@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
body{
   background-color: #000;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(../img/foto5.jpg);
    background-size: cover;
    background-position: center;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 20px 55px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 1.5s ease-in-out;
    text-transform: capitalize;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 25px;
    transition: transform .4s;
    box-shadow: 0px 0px 5px #000;
}

nav ul li a:hover {
    color: #1ed2f1;
    transition: .4s;
    
}
.title{
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
}